* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    min-height: 800px;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: $font;
    display: flex;
    flex-direction: column;
    min-height: 800px;
    transition: ease 0.4s;
    position: relative;
}
.logoWhat {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1%;
    width: 45px;
    z-index: 10;
}

// _________  menu de navegacion  ______________
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg_nav;
    padding: 12px;
    z-index: 1000;
    position: relative;
    top: 0;
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        .logo {
            width: 57px;
            height: auto;
        }
    }
    .menu1 {
        display: flex;
        gap: 25px;
        padding-right: 8px;
    }
    i {
        padding-top: 6px;
    }
    .menu__link {
        white-space: nowrap;
    }
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: $font_a;
    &:hover {
        color: $bg_rojo;
    }
}
// __________________________________

#menu {
    cursor: pointer;
    position: absolute;
    top: 26px;
    left: 20px;
    color: $font_a;
    display: none;
}
// ___________________________________

.boton {
    border-radius: 50px;
    padding: 13px;
    font-size: $font;
    margin: 10px;
    border: none;
    background-color: $bg_nav;
    color: $font_a;
    cursor: pointer;
    &:active {
        transform: scale(0.9);
    }
    i {
        font-size: 15px;
    }
}
main {
    padding-top: 7rem;
}

// ______________ modal ______________

.modal-body {
    width: 100%;
    margin-left: 1%;
    &__precio {
        display: flex;
        justify-content: space-between;
        padding: 30px 50px 20px 0;
        .boton {
            margin-left: 50px;
        }
    }
    &__vacio {
        margin: 60px;
        text-align: center;
    }
}
.modal-title {
    padding: 10px;
    margin-right: 3.5em;
    font-family: "Raleway", sans-serif;
}
.boton-vaciar {
    height: 45px;
    margin: 10px 0 15px 30px;
}
.conte-carrito-div {
    width: 97%;
    margin: 0 auto;
    .conte-carrito {
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        min-width: 320px;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &__img {
            width: 70px;
            height: auto;
            margin-left: 20px;
        }
        &__txt {
            font-size: 16px;
            text-align: center;
            margin: 0 6px;
            &__titulo {
                display: flex;
                flex-direction: column;
                font-size: 14px;
                width: 80px;
                margin-left: 20px;
            }
        }
        &__precio {
            @extend.conte-carrito__txt;
            width: 10px;
        }
        &__btn {
            cursor: pointer;
            background: none;
            border: none;
            text-align: right;
            margin-right: 40px;
        }
    }
}

// ______________ footer  ______________
h4 {
    padding-bottom: 5px;
    color: $font_a;
}
footer {
    background-color: $bg_nav;
    width: 100%;
    margin-top: auto;
    .p_pag {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px 0;
        gap: 60px;
        &__redes {
            i:hover {
                text-decoration: none;
            }
        }
        &__link {
            color: $font_a;
            &:hover {
                text-decoration: underline;
            }
        }
        &__contact__font {
            display: flex;
            align-items: center;
            gap: 8px;
            color: $font_a;
        }
    }
    li {
        font-size: 16px;
        margin: 4px;
    }
}
.copy {
    display: flex;
    justify-content: center;
    background-color: $bg_nav;
    color: $font_a;
}

// _________  boton dark o light  ______________
.modeDark {
    background-color: $modeDark;
    color: $font_a;
    .darkMode__btn {
        width: 100px;
        border-radius: 30px;
        background-color: transparent;
        outline: none;
        border: none;
    }
    .productos__cont__dark {
        background-color: $modeDark-cont;
        box-shadow: $shadow-dark;
    }
    .modalCarri__content__dark {
        background-color: $modeDark-cont;
        box-shadow: $shadow-dark;
    }
}
.button__sun {
    font-size: 17px;
    position: absolute;
    top: 95px;
    border-radius: 50%;
    padding: 6px;
    box-shadow: $shadow;
    cursor: pointer;
    left: 58px;
    color: rgb(255, 237, 192);
    background-color: #51d4d9;
    &:active {
        transform: scale(0.9);
    }
}
.button__moon {
    @extend.button__sun;
    left: 20px;
    background-color: $modeDark-cont;
    color: rgb(255, 211, 51);
}

// -------------  Media queries   --------------------------
@media screen and (max-width: 720px) {
    // --------menuu navegacion --------------

    #menu {
        display: block;
        font-size: 25px;
        position: absolute;
        top: 19px;
        left: 30px;
        z-index: 2000;
    }
    .menu1 {
        justify-content: flex-end;
        width: 100%;
    }
    ul.menu {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    header .navbar {
        position: absolute;
        min-width: 50%;
        top: 50px;
        left: -120%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: $bg_nav;
        border-radius: 0 10px 20px 20px;
        &.active {
            left: 0;
            transition: 0.5s;
        }
    }
    .modal-carrito {
        top: -20px;
    }

    footer {
        .p_pag {
            justify-content: start;
            margin: 20px 40px;
            padding-left: 10%;
        }
    }

    // --------PRODUCTOS --------------
    .banner {
        width: 100%;
        &__img {
            width: 250px;
        }
    }
}
