* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: $font;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    transition: ease 0.4s;
    position: relative;
}
.logoWhat {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1%;
    width: 45px;
    z-index: 10;
}

// _________  menu de navegacion  ______________
header {
    position: fixed;
    height: 90px;
    z-index: 2000;
    top: 0px;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg_nav;
    padding: 8px 17px;
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        .logo {
            width: 57px;
            height: auto;
        }
    }
    .menu1 {
        display: flex;
        gap: 25px;
        padding-right: 8px;
    }
    i {
        padding-top: 6px;
    }
    .menu__link {
        white-space: nowrap;
    }
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: $font_a;
    &:hover {
        color: $bg_rojo;
    }
}
#menu {
    cursor: pointer;
    position: absolute;
    z-index: 1040;
    color: $font_a;
    display: none;
}

.boton {
    border-radius: 50px;
    padding: 8px 13px;
    font-size: $font;
    margin: 10px;
    border: none;
    background-color: $bg_nav;
    color: $font_a;
    cursor: pointer;
    text-align: center;
    &:active {
        transform: scale(0.9);
    }
}
main {
    padding-top: 5rem;
}

// ______________ Modal ______________

.modal-body {
    width: 100%;
    margin-left: 1%;
    &__precio {
        display: flex;
        justify-content: space-between;
        padding: 30px 50px 20px 0;
        .boton {
            margin-left: 50px;
        }
    }
    &__vacio {
        margin: 20%;
        text-align: center;
    }
}
.modal-title {
    padding: 10px;
    margin-right: 3.5em;
    font-family: "Raleway", sans-serif;
}
.boton-vaciar {
    height: 45px;
    margin: 10px 0 15px 30px;
}
.conte-carrito-div {
    width: 97%;
    margin: 0 auto;
    .conte-carrito {
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        width: 97%;
        margin: auto;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &__img {
            max-width: 7rem;
            height: auto;
        }
        &__txt {
            font-size: 16px;
            text-align: center;
            margin: 0 6px;
            &__titulo {
                display: flex;
                flex-direction: column;
                font-size: 14px;
                width: 80px;
            }
        }
        &__precio,
        &__precioUnid {
            @extend.conte-carrito__txt;
            width: 60px;
        }
        &__btn {
            cursor: pointer;
            background: none;
            border: none;
            text-align: right;
            width: 80px;
            margin-right: 5%;
        }
    }
}
p.confiBtn {
    margin-bottom: 0;
}
// ______________ footer  ______________
h4 {
    padding-bottom: 5px;
    color: $font_a;
}
footer {
    background-color: $bg_nav;
    width: 100%;
    margin-top: auto;
    .p_pag {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px 0;
        gap: 60px;
        &__redes {
            i:hover {
                text-decoration: none;
            }
        }
        &__link {
            color: $font_a;
            &:hover {
                text-decoration: underline;
            }
        }
        &__contact__font {
            display: flex;
            align-items: center;
            gap: 8px;
            color: $font_a;
        }
    }
    li {
        font-size: 16px;
        margin: 4px;
    }
}
.copy {
    display: flex;
    justify-content: center;
    background-color: $bg_nav;
    color: $font_a;
}

// __________	DARKMODE	___________
.darkmode {
    background-color: $modeDark;
    color: $font_a;
    .productos__cont__dark {
        background-color: $modeDark-cont;
        box-shadow: $shadow-dark;
    }
    .modalCarri__content__dark {
        background-color: $modeDark-cont;
        box-shadow: $shadow-dark;
    }
    .modal-title {
        color: $font_a;
    }
    .productoLateral__filt__dark {
        color: $font_a;
        &:hover {
            color: $bg_rojo;
        }
    }
    .darkmode__img {
        filter: invert(100%);
    }
    .titulo {
        color: $font_a;
    }
    .products .swiper-slide-active h3,
    .products .swiper-slide-active .btn {
        color: $font_a;
    }
    .swiper-btn {
        background-color: $modeDark-dark;
    }
}

.dark-mode-toggle {
    top: 110px;
    right: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 80px;
    z-index: 10;
    position: fixed;
    &.active {
        animation-name: animar2;
        animation-duration: 1.5s;
        @keyframes animar2 {
            10% {
                transform: rotateZ(-30deg);
            }
            15% {
                transform: rotateZ(-40deg);
            }

            35% {
                transform: rotateZ(63deg);
                transform: translateY(-27px);
            }
            45% {
                transform: rotateZ(20deg);
            }
            70% {
                transform: rotateZ(-3deg);
            }
            80% {
                transform: rotateZ(0deg);
            }
        }
    }
}
// ______________________________

// -------------  Media queries   --------------------------
@media (max-width: 991px) {
    // _____________ Modal _____________
    .boton-vaciar {
        margin: 0 0 0 5%;
        font-size: 1rem;
        padding: 1%;
        margin-top: 1%;
    }
    .modal-body {
        font-size: 12px;
        padding: 10px 0;
        text-align: center;
        justify-content: space-around;
        .Subtotal {
            display: none;
        }
    }
    .conte-carrito-div .conte-carrito {
        flex-direction: column;
        margin: 3% 0;
        justify-content: center;
    }
    .conte-carrito-div .conte-carrito__img {
        margin: 0px;
        min-width: 5rem;
        padding: 0px;
    }
    .conte-carrito-div .conte-carrito__txt__titulo {
        padding: 0;
        text-align: center;
        margin: 0px;
        width: 60%;
    }
    .conte-carrito__txt {
        display: flex;
        flex-wrap: wrap;
    }
    .conte-carrito-div .conte-carrito__txt,
    .conte-carrito-div .conte-carrito__precio {
        width: 150px;
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }
    .conte-carrito-div .conte-carrito-div .conte-carrito__precioUnid {
        display: none;
    }
    p.conte-carrito__precio.col-2 {
        padding-top: 7px;
    }
    .btn-outline-info {
        height: 20px;
        padding: 0 4%;
        margin: 2%;
    }
    .conte-carrito-div .conte-carrito__btn {
        padding: 0;
        width: 0px;
    }
    .modal-title {
        margin-right: 0px;
    }
    .modal-footer {
        justify-content: center;
    }

    // _____________ Presentacion _____________

    .presentacion {
        width: 100%;
        &__div {
            flex-direction: column;
        }
        &__img {
            width: 90%;
        }
    }
    section.presentacion__div {
        margin: 5% 0;
    }
    section.presentacion2__div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        .presentacion2__cont {
            width: 60%;
            text-align: center;
            margin: 4% auto;
        }
        .presentacion__img {
            margin: auto;
        }
    }
    // ______________ Banner __________________
    .banner__img {
        width: 100%;
    }
}

@media (max-width: 720px) {
    // --------menuu navegacion --------------
    #menu {
        display: block;
        font-size: 25px;
        top: 24px;
        left: 40px;
    }
    .menu1 {
        justify-content: flex-end;
        margin-top: 9px;
        width: 100%;
    }
    ul.menu {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    header .navbar {
        position: absolute;
        width: 100%;
        top: 70px;
        left: -120%;
        display: flex;
        flex-direction: column;
        padding: 20px 8px 72px;
        background-color: $bg_nav;
        border-radius: 0 10px 10px 10px;
        &.active {
            left: 0;
            transition: 0.5s;
        }
    }
    .modal-carrito {
        top: -20px;
    }

    .dark-mode-toggle {
        top: 128px;
        right: 28px;
        width: 60px;
    }
    // _____________ carrusel _____________
    .products {
        & .slide img {
            max-height: 16rem;
        }
    }

    // _____________ section productos _____________

    .productos__cont.productos__cont__dark {
        margin: 0;
    }
    // _____________ footer _____________

    footer {
        .p_pag {
            justify-content: start;
            margin: 20px 40px;
            padding-left: 10%;
        }
        .copy {
            text-align: center;
            margin: 0 7% 0 4%;
            font-size: 1rem;
        }
    }

    // -------- PAGINA de PRODUCTOS --------------
    .productoLateral {
        flex-direction: column;
        justify-content: center;
        &__cont {
            width: 90%;
            margin: 5%;
        }
        &__category {
            margin-bottom: 5%;
        }
        &__filt {
            display: flex;
            justify-content: center;
            width: 90%;
        }
        .rangoPrecio {
            padding: 0;
            width: 85%;
            margin: 9%;
        }
    }
    h4.productoLateral__titulo {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    ul#Marca {
        padding-left: 0;
    }
    #productos {
        width: 100%;
        margin: 10% 0;
    }
    // -------- LOGGIN --------------

    div.formulario {
        display: flex;
        flex-direction: column;
        .formulario__titulo {
            font-size: 25px;
            margin: 5% 1% 0;
        }
        .formulario__descr {
            font-size: 18px;
            margin: 0 1%;
        }
        .campo {
            height: 40px;
        }
        form.formulario__from {
            width: 100%;
        }
    }
}
