// _________  buscador______________

.divBuscar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    &__form {
        margin: 0 20px 60px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__input {
            border-radius: 10px;
            border: 1px solid;
            width: 200px;
            padding: 5px;
            padding-left: 8px;
            margin: 8px;
            display: flex;
            align-items: flex-start;
            font-family: "Raleway", sans-serif;
            &:focus {
                outline: none;
                border-color: $bg_rojo;
            }
        }
        &__btn {
            height: 35px;
            padding: 7px;
        }
        &__btn {
            @extend.boton;
        }
    }
}

// _________  productos ______________
.productos {
    margin: 70px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    &__titulo {
        padding-bottom: 10px;
    }

    &__descrip {
        text-align: center;
        padding-bottom: 15px;
    }
    &__valor {
        font-size: $font_valor;
        margin: 5px;
    }
    &__cont {
        background-color: $bg_rosa;
        max-width: 320px;
        padding: 20px;
        border-radius: 30px;
        box-shadow: $shadow;
        margin: 20px;
        position: relative;
        &__imagen {
            max-width: 270px;
        }
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__ico {
            position: absolute;
            right: 25px;
            top: 30px;
            font-size: 25px;
            color: $bg_coraton;
        }
    }
}

.carri {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 30px;
    &__img {
        max-width: 100px;
    }
    &__valor {
        font-size: $font;
    }
    &__remove {
        @extend.boton;
    }
}
