$font: 20px;
$font_g: 30px;
$font_valor: 35px;
$font_gigant: 3.2rem;
$font_a: rgb(230, 230, 230);

$bg_nav: rgb(20, 20, 20);
$bg_rojo: rgba(253, 125, 136, 0.857);
$bg_rosa: rgb(255, 251, 251);
$bg_coraton: #dededeef;

$shadow: 1px 5px 7px rgb(0 0 0 / 8%);
$shadow-dark: 1px 5px 7px rgb(0 0 0 / 20%);

$modeDark: rgb(24, 24, 24);
$modeDark-cont: rgb(38, 38, 38);
$modeDark-dark: rgb(13, 13, 13);
